<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="AnalysLog" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="10KB" />
	   <param name="maxBackupIndex" value="5" />
		<param name="file" value="logs/LogAnalys.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>
    
	<!-- -->
	<!-- ConsoleAppender -->
	<!-- -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %c %t %-5p: %m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="error" />
	</logger>


	<root>
		<level value="debug" />
		<appender-ref ref="AnalysLog" />
		<appender-ref ref="stdout" />
	</root>


</log4j:configuration>